# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  test-php-common: &common-test
    docker:
      - image: circleci/php:7.1-browsers
    working_directory: ~/repo
    steps:
        - run:
            name: php version
            command: php -v
        - checkout
        - run:
            name: composer install
            command: composer install --no-interaction --prefer-source
        - run:
            name: run test
            command: ./vendor/bin/kahlan
        - run:
            name: upload coverage
            command: bash <(curl -s https://codecov.io/bash)
        - run:
            name: startup install
            command:  phpize && ./configure && make && sudo make install
        - run:
            name: enable startup
            command: sudo cp .circleci/docker-php-ext-startup.ini /usr/local/etc/php/conf.d/
        - run:
            name: run test
            command: ./vendor/bin/kahlan
  test-php71:
    <<: *common-test
    docker:
      - image: circleci/php:7.1-browsers
  test-php72:
    <<: *common-test
    docker:
      - image: circleci/php:7.2-browsers
  test-php70:
    <<: *common-test
    docker:
      - image: circleci/php:7.0-browsers
workflows:
  version: 2
  build:
    jobs:
      - test-php70
      - test-php71
      - test-php72

